@model IEnumerable<OnlineBidding.Model.UserPoint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfBid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeductedPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeductedPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
